* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Patrick Hand SC';
    font-style: normal;
}

// h1,h2,h3,h4,h5,h6,ul,button,p {
//     margin: 0;
//     padding: 0;
// }

// a {
//     text-decoration: none;
//     color: unset;
// }

// li {
//     list-style: none;
// }

// .container {
//     max-width: 1400px;
// }