@use 'var' as v;
@use 'mixins' as m;

.header {
    width: 100%;
    height: 55px;

    &__nav {
        @include m.d-flex(start, center);
        height: 55px;

        .nav__links {
            @include m.d-flex(start, center);
            flex-grow: 1;

            &-item {
                margin: 0 8vw 0 0;
                font-size: 22px;
                color: v.$text-color;

                &:hover {
                    color: #a9a9a9;
                }
            }
        }

        .button {
            font-family: 'Passion One';
            @include m.d-flex(center, center);
            background-color: #2b2b2b;
            color: white;
            border: none;
            border-radius: 8px;
            width: 140px;
            height: 40px;
            font-size: 20px;
            &:hover {
                background-color: #a9a9a9;
                cursor: pointer;
            }
        }
    }
}