@use 'var' as v;
@use 'mixins' as m;

.header {
    width: 100%;
    height: 55px;

    &__nav {
        @include m.d-flex(start, center);
        height: 55px;

        .links {
            flex-grow: 1;

            &__list {
                @include m.d-flex(start, center);

                .list-item {
                    font-size: 22px;
                    margin: 0 8vw 0 0;
                    
                    &:hover {
                        color: #a9a9a9;
                    }

                    .links-item {
                        white-space: nowrap;
                    }
                }

                @media (max-width: 1400px) {
                    margin-left: 5vw;
                }
            }
        }

        .button {
            font-family: 'Passion One';
            @include m.d-flex(center, center);
            background-color: #2b2b2b;
            color: white;
            border: none;
            border-radius: 8px;
            width: 140px;
            height: 40px;
            font-size: 20px;

            @media (max-width: 1400px) {
                    margin-right: 5vw;
                }

            &:hover {
                background-color: #a9a9a9;
                cursor: pointer;
            }
        }
    }
}